h2{
  text-align: center;
}

#aboutSection{
  float: left;
  background-color: blue;
}

#rulesSection{
  float: right;
}

h5{
color: red;
}

body{
  background-color: red;
}

#gitHub{
  color: grey;
}
