h2{
  text-align: center;
  border: 1px solid black;
}

.jumbotron#jumbo{
  background-color: grey;
}

#aboutSection{
  float: left;
  background-color: grey;
  padding: 20px;
  padding-bottom: 50px;
}

#rulesSection{
  float: right;
}

.rules {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

h5{
  border: 1px solid black;
  color: blue;
  font-weight: bold;
}

.btn{
  background-color: grey;
}

.list{
  color: blue;
  font-weight: bold;
  font-size: 25px;
}

img.pong{
  margin-top: 5%;
  display: none;
  height: 60%;
  width: 60%;
}

form{
  padding-top: 10px;
}
