h2{
  text-align: center;
}

.jumbotron#jumbo{
  background-color: grey;
}

#aboutSection{
  float: left;
  background-color: blue;
}

#rulesSection{
  float: right;
}

h5{
color: red;
}

#gitHub{
  color: grey;
}

.btn{
  background-color: blue;
}
